{% extends "admin_base.html" %}

{% block content %}
<!-- This is the Admin page!! 
The main sections and subsection on the sidebar menu are:

-Cards (when clicked show a dashboard with some tiles?)(when you expand the menu, you can click on each of the following. It applies for the other main menus too):
    >IDs
    >Room access
    >Wallet???
-Incidents:
    >Safety (this is the tracking button)
    >Emergency (Alerts)
-Hotspots (drugs, harrassment hotspots):
    >CP ML => in this page we have some tiles including: prediction of next incident (location, type of incident) 
    >CP agent map

Feel free to create any HTML you need and ask me whatever you want. 



Also, you're the best!!! -->

{% endblock %}