{% extends "id_base.html" %}

{% block content %}

<div class="page">
    <div class="page-content">

        <header id="site_header" class="header mobile-menu-hide">
          <div class="header-content">
            <div class="header-photo">
              <img src="{{ url_for('static', filename='img/ID/main_photo.jpg')}}" alt="Alex Smith">
            </div>
            <div class="header-titles">
              {% if current_user.is_authenticated %}
              <h2> {{current_user.name}} {{current_user.surname}}</h2>
              {% else %}
              <h2 style="color: #ff644c">Kindly login to access your ID</h2>
              {% endif %}
              {% if current_user.is_authenticated %}
              <h4>UCLA Student</h4>
              {% endif %}

            </div>
          </div>

          <ul class="main-menu">

            <li>
              <a href="#about-me" class="nav-anim">
                <span class="menu-icon lnr lnr-user"></span>
                <span class="link-text">UCLA ID</span>
              </a>
            </li>
            <li>
              <a href="#resume" class="nav-anim">
                <span class="menu-icon lnr lnr-bullhorn"></span>
                <span class="link-text">Alerts</span>
              </a>
            </li>
            <li>
              <a href="#portfolio" class="nav-anim">
                <span class="menu-icon lnr lnr-leaf"></span>
                <span class="link-text">Wallet</span>
              </a>
            </li>
            <li>
              <a href="#contact" class="nav-anim">
                <span class="menu-icon lnr lnr-bubble"></span>
                <span class="link-text">Chat</span>
              </a>
            </li>
          </ul>

          <div class="social-links">
            <ul>
              <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>

          <div class="header-buttons">
            <a href="#" target="_blank" class="btn btn-primary">Concerned</a>
          </div>
          <div class="header-buttons">
            <a href="#" target="_blank" class="btn btn-primary">Emergency</a>
          </div>
          
          <div class="copyrights">
            <img class="logo" src="{{ url_for('static', filename='img/under.svg')}}" alt="undraw">
            <p class="text-center mb-2">Copyright &copy; 2021</p>
          </div>
        </header>

        <!-- Mobile Navigation -->
        <div class="menu-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- End Mobile Navigation -->

        <!-- Arrows Nav -->
        <div class="lmpixels-arrows-nav">
          <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
          <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
        </div>
        <!-- End Arrows Nav -->

        <div class="content-area">
          <div class="animated-sections">


            <!-- About Me Subpage -->
            <section data-id="about-me" class="animated-section">
              <div class="section-content">
                <div class="page-title">
                  <h2>UCLA <span>Identification</span></h2>
                </div>

                <!-- Personal Information -->
                <div class="row">
                  {% if current_user.is_authenticated %}

                  <div class="col-xs-12 col-sm-3">
                    <img class="qrcode" src="{{ url_for('static', filename='img/ID/qrcode.gif')}}" alt="undraw">
                  </div>
                  {% endif %}

                  <div class="col-xs-12 col-sm-7">
                    <div class="info-list">
                      <ul>
                        <li>
                          {% if current_user.is_authenticated %}
                          <span class="title">e-mail</span>
                          <span class="value">{{current_user.email}}</span>
                        </li>
                        <li>
                          <span class="title">Major</span>
                          <span class="value">{{current_user.major}}</span>
                        </li>
                        
                        <li>
                          <span class="title">Intake</span>
                          <span class="value">{{current_user.intake}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- End of Personal Information -->
                
                <div class="white-space-30"></div>
                
                <!-- Fun Facts -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    
                    <div class="block-title">
                      <h3>Fun <span>Facts</span></h3>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <div class="fun-fact gray-default">
                      <i class="lnr lnr-heart"></i>
                      <h4>Campus Entries</h4>
                      <span class="fun-fact-block-value">578</span>
                      <span class="fun-fact-block-text"></span>
                    </div>
                  </div>
                  
                  <div class="col-xs-12 col-sm-4">
                    <div class="fun-fact gray-default">
                      <i class="lnr lnr-clock"></i>
                      <h4>Working Hours</h4>
                      <span class="fun-fact-block-value">4,780</span>
                      <span class="fun-fact-block-text"></span>
                    </div>
                  </div>
                  
                  <div class="col-xs-12 col-sm-4 ">
                    <div class="fun-fact gray-default">
                      <i class="lnr lnr-star"></i>
                      <h4>Awards Won</h4>
                      <span class="fun-fact-block-value">15</span>
                      <span class="fun-fact-block-text"></span>
                    </div>
                  </div>
                </div>
                <!-- End of Fun Facts -->
                {% endif %}
                
              </div>
            </section>
            <!-- End of About Me Subpage -->

            <!-- Resume Subpage -->
            <section data-id="resume" class="animated-section">
              <div class="section-content">
                <div class="page-title">
                  <h2>Alerts</h2>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-7">

                    <div class="block-title">
                      <h3>Top News</h3>
                    </div>

                    <div class="white-space-20"></div>

                    <div class="timeline timeline-second-style clearfix">
                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period">June 15th</h5>
                          <span class="item-company">Royce Hall</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Man Caught Steeling</h4>
                          <p>Praesent dignissim sollicitudin justo, sed elementum quam lacinia quis. Phasellus eleifend tristique posuere. Sed vitae dui nec magna.</p>
                        </div>
                      </div>

                      <div class="timeline-item clearfix">
                        <div class="left-part">
                          <h5 class="item-period">June 1st</h5>
                          <span class="item-company">Near Hospital</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                          <h4 class="item-title">Protests</h4>
                          <p>Maecenas tempus faucibus rutrum. Duis eu aliquam urna. Proin vitae nulla tristique, ornare felis id, congue libero. Nam volutpat euismod quam.</p>
                        </div>
                      </div>
                      
                    </div>

                  </div>

                  <!-- Skills & Certificates -->
                  <div class="col-xs-12 col-sm-5">
                    <!-- Design Skills -->
                    <div class="block-title">
                      <h3>Safety <span>Level</span></h3>
                    </div>

                    <div class="skills-info skills-second-style">
                      <!-- Skill 1 -->
                      <div class="skill clearfix">
                        <h4>South Campus</h4>
                        <div class="skill-value">95%</div>
                      </div>
                      <div class="skill-container skill-1">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- End of Skill 1 -->
                      
                      <!-- Skill 2 -->
                      <div class="skill clearfix">
                        <h4>North Campus</h4>
                        <div class="skill-value">65%</div>
                      </div>
                      <div class="skill-container skill-2">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- End of Skill 2 -->
                      
                      <!-- Skill 3 -->
                      <div class="skill clearfix">
                        <h4>Westwood</h4>
                        <div class="skill-value">80%</div>
                      </div>
                      <div class="skill-container skill-3">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- End of Skill 3 -->

                    </div>
                    <!-- End of Design Skills -->

                    <div class="white-space-10"></div>

                    <!-- Knowledges -->
                    <div class="block-title">
                      <h3>Filters</h3>
                    </div>

                    <ul class="knowledges">
                      <li>Theft</li>
                      <li>Assault</li>
                      <li>Violance</li>
                      <li>Safety</li>
                      <li>Rules</li>
                      <li>Cyber-Bullying</li>
                      <li>Racism</li>
                    </ul>

                    <!-- End of Knowledges -->
                  </div>
                  <!-- End of Skills & Certificates -->
                </div>

                <div class="white-space-30"></div>

                <!-- Certificates -->
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="block-title">
                      <h3>Hotspots</h3>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <!-- Certificate 1 -->
                  <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                      <div class="certi-logo">
                        <img src="{{ url_for('static', filename='img/ID/clients/client-1.png')}}" alt="Logo">
                      </div>
                      
                      <div class="certi-content">
                        <div class="certi-title">
                          <h4>Psyhology of Intertnation Design</h4>
                        </div>
                        <div class="certi-id">
                          <span>Membership ID: XXXX</span>
                        </div>
                        <div class="certi-date">
                          <span>19 April 2018</span>
                        </div>
                        <div class="certi-company">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Certificate 1 -->

                  <!-- Certificate 2 -->
                  <div class="col-xs-12 col-sm-6">
                    <div class="certificate-item clearfix">
                      <div class="certi-logo">
                        <img src="{{ url_for('static', filename='img/ID/clients/client-1.png')}}" alt="Logo">
                      </div>
                      
                      <div class="certi-content">
                        <div class="certi-title">
                          <h4>Psyhology of Intertnation Design</h4>
                        </div>
                        <div class="certi-id">
                          <span>Membership ID: XXXX</span>
                        </div>
                        <div class="certi-date">
                          <span>19 April 2018</span>
                        </div>
                        <div class="certi-company">
                          <span></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Certificate 2 -->

                </div>
                <!-- End of Certificates -->
              </div>
            </section>
            <!-- End of Resume Subpage -->

            <!-- Portfolio Subpage -->
            <section data-id="portfolio" class="animated-section">
              <div class="section-content">
                <div class="page-title">
                  <h2>Wallet</h2>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <!-- Portfolio Content -->
                    <div class="portfolio-content">

                      <ul class="portfolio-filters">
                        <li class="active">
                          <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
                        </li>
                        <li>
                          <a class="filter btn btn-sm btn-link" data-group="category_detailed">Theft</a>
                        </li>
                        <li>
                          <a class="filter btn btn-sm btn-link" data-group="category_mockups">Assault</a>
                        </li>
                        <li>
                          <a class="filter btn btn-sm btn-link" data-group="category_soundcloud">Violance</a>
                        </li>
                        <li>
                          <a class="filter btn btn-sm btn-link" data-group="category_vimeo-videos">Rules</a>
                        </li>
                        <li>
                          <a class="filter btn btn-sm btn-link" data-group="category_youtube-videos">Racisms</a>
                        </li>
                      </ul>

                      <!-- Portfolio Grid -->
                      <div class="portfolio-grid three-columns">
                        
                        <figure class="item lbaudio" data-groups='["category_all", "category_soundcloud"]'>
                          <div class="portfolio-item-img">
                            <img src="{{ url_for('static', filename='img/ID/portfolio/1.jpg')}}" alt="SoundCloud Audio">
                            <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221650664&#038;color=%23ff5500&#038;auto_play=false&#038;hide_related=false&#038;show_comments=true&#038;show_user=true&#038;show_reposts=false&#038;show_teaser=true&#038;visual=true" class="lightbox mfp-iframe" title="SoundCloud Audio"></a>
                          </div>

                          <i class="fa fa-volume-up"></i>
                          <h4 class="name">Theft Alerts</h4>
                          <span class="category">Stollen Bicycle</span>
                        </figure>

                        <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                          <div class="portfolio-item-img">
                            <img src="{{ url_for('static', filename='img/ID/portfolio/2.jpg')}}" alt="SoundCloud Audio">
                            <a href="portfolio-1.html" class="ajax-page-load"></a>
                          </div>

                          <i class="far fa-file-alt"></i>
                          <h4 class="name">Detailed Project 2</h4>
                          <span class="category">Detailed</span>
                        </figure>

                        <figure class="item lbvideo" data-groups='["category_all", "category_vimeo-videos"]'>
                          <div class="portfolio-item-img">
                            <img src="{{ url_for('static', filename='img/ID/portfolio/3.jpg')}}" alt="SoundCloud Audio">
                            <a href="https://player.vimeo.com/video/158284739" class="lightbox mfp-iframe" title="Vimeo Video 1"></a>
                          </div>

                          <i class="fas fa-video"></i>
                          <h4 class="name">Vimeo Video 1</h4>
                          <span class="category">Vimeo Videos</span>
                        </figure>

                        <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                          <div class="portfolio-item-img">
                            <img src="{{ url_for('static', filename='img/ID/portfolio/4.jpg')}}" alt="SoundCloud Audio">
                            <a href="portfolio-1.html" class="ajax-page-load"></a>
                          </div>

                          <i class="far fa-file-alt"></i>
                          <h4 class="name">Detailed Project 1</h4>
                          <span class="category">Detailed</span>
                        </figure>

                        <figure class="item lbimage" data-groups='["category_all", "category_mockups"]'>
                          <div class="portfolio-item-img">
                            <img src="{{ url_for('static', filename='img/ID/portfolio/5.jpg')}}" alt="SoundCloud Audio">
                            <a class="lightbox" title="Mockup Design 1" href="img/portfolio/full/5.jpg"></a>
                          </div>

                          <i class="far fa-image"></i>
                          <h4 class="name">Mockup Design 1</h4>
                          <span class="category">Mockups</span>
                        </figure>

                        <figure class="item lbvideo" data-groups='["category_all", "category_youtube-videos"]'>
                          <div class="portfolio-item-img">
                            <img src="{{ url_for('static', filename='img/ID/portfolio/6.jpg')}}" alt="SoundCloud Audio">
                            <a href="https://www.youtube.com/embed/bg0gv2YpIok" class="lightbox mfp-iframe" title="YouTube Video 1"></a>
                          </div>

                          <i class="fas fa-video"></i>
                          <h4 class="name">YouTube Video 1</h4>
                          <span class="category">YouTube Videos</span>
                        </figure>
                      </div>
                    </div>
                    <!-- End of Portfolio Content -->
                  </div>
                </div>
              </div>
            </section>
            <!-- End of Portfolio Subpage -->

            <!-- Contact Subpage -->
            <section data-id="contact" class="animated-section">
              <div class="section-content">
                <div class="page-title">
                  <h2>Chat With Us</h2>
                </div>

                <div class="row">
                  <!-- Contact Info -->
                  <div class="col-xs-12 col-sm-4">
                    <div class="lm-info-block gray-default">
                      <i class="lnr lnr-map-marker"></i>
                      <h4>Los Angeles</h4>
                      <span class="lm-info-block-value"></span>
                      <span class="lm-info-block-text"></span>
                    </div>

                    <div class="lm-info-block gray-default">
                      <i class="lnr lnr-phone-handset"></i>
                      <h4>415-832-2000</h4>
                      <span class="lm-info-block-value"></span>
                      <span class="lm-info-block-text"></span>
                    </div>

                    <div class="lm-info-block gray-default">
                      <i class="lnr lnr-envelope"></i>
                      <h4>security@ucla.edu</h4>
                      <span class="lm-info-block-value"></span>
                      <span class="lm-info-block-text"></span>
                    </div>

                  </div>
                  <!-- End of Contact Info -->

                  <!-- Contact Form -->
                  <div class="col-xs-12 col-sm-8">
                    <div class="map-responsive">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.0860441878376!2d-118.44759774929558!3d34.06730848050674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bc8674d28693%3A0xbbfe13c5f9a52981!2s601%20Westwood%20Plaza%2C%20Los%20Angeles%2C%20CA%2090024%2C%20USA!5e0!3m2!1sen!2ses!4v1624402629418!5m2!1sen!2ses" 
                      width="480" height="150" frameborder="0" style="border:0;" loading="lazy" allowfullscreen></iframe>
                    </div>
                    <div class="block-title">
                      <h3>How Can We <span>Help You?</span></h3>
                    </div>

                      <div class="messages"></div>

                      <div class="controls two-columns">
                        <div class="fields clearfix">
                          <div class="left-column">
                            <div class="form-group form-group-with-icon">
                              <input id="form_name" type="text" name="name" class="form-control" placeholder="" required="required" data-error="Name is required.">
                              <label>Full Name</label>
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group form-group-with-icon">
                              <input id="form_subject" type="text" name="subject" class="form-control" placeholder="" required="required" data-error="Subject is required.">
                              <label>Subject</label>
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                          <div class="right-column">
                            <div class="form-group form-group-with-icon">
                              <textarea id="form_message" name="message" class="form-control" placeholder="" rows="7" required="required" data-error="Please, leave me a message."></textarea>
                              <label>Message</label>
                              <div class="form-control-border"></div>
                              <div class="help-block with-errors"></div>
                            </div>                        
                          </div>                            
                          <input type="submit" class="button btn-send" value="Submit">
                        </div>

                      </div>
                    </form>
                  </div>
                  <!-- End of Contact Form -->
                </div>

              </div>
            </section>
            <!-- End of Contact Subpage -->
          </div>
        </div>

    </div>
  </div>
{% endblock %}