{% extends "index_base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} | Register{% endblock %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container theme-showcase" role="main">
        <div class="logintitle">
            <h1 data-aos="fade-up">Register Now!</h1>
        </div>

    <div class="container theme-showcase" role="main" style="margin-top: 75px">
        <form action="{{ url_for('register') }}" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.repeat_password) }}
            <button type="submit" class="btn btn-primary">Register</button>
            <!-- still have to direct to login -->
        </form>
    </div>

</section>
<!-- End Hero -->
{% endblock %}